<a href="https://colab.research.google.com/github/PandemicPreventionInstitute/NGS-Capacity-map/blob/main/FIND_support_maps_scripts_12_11_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Updating FIND NGS support maps, while using NGS November underlying data

In [2]:
#import packages
import pandas as pd
import seaborn as sns
import numpy as np

In [79]:
#import November NGS map data (exported from github) 
github_url = "https://raw.githubusercontent.com/PandemicPreventionInstitute/NGS-Capacity-map/main/data/LMIC%20centered%20map/NGS_flourish_file_11.9.2021_TEST3.csv"
df_NGS_Nov = pd.read_csv (github_url)
#drop first column "Unamed"
df_NGS_Nov = df_NGS_Nov.iloc[0: , 1:]
df_NGS_Nov.head(3)

                                            geometry  ... sars_cov_2_sequencing_clean
0  {"type":"Polygon","coordinates":[[[74.892307,3...  ...             1-499 sequences
1  {"type":"Polygon","coordinates":[[[20.943662,4...  ...             1-499 sequences
2  {"type":"Polygon","coordinates":[[[-8.681222,2...  ...             1-499 sequences

[3 rows x 28 columns]

In [80]:
#import dataset that Swapna sent RE: FIND projects
FIND_github = "https://raw.githubusercontent.com/PandemicPreventionInstitute/NGS-Capacity-map/main/data/FIND_projects.csv"
df_FIND = pd.read_csv (FIND_github)
df_FIND.head()

      Country                 Region  ... N_projects N_orgs
0    Cameroon                 Africa  ...          5      3
1      Brazil               Americas  ...         12      7
2      Guinea                 Africa  ...          2      1
3     Lebanon  Eastern Mediterranean  ...          3      1
4  Bangladesh        South-East Asia  ...          8      6

[5 rows x 6 columns]

In [81]:
#renaming and merging files
df_FIND.rename (columns = {'Country': 'country'}, inplace = True)
df_FIND.head(3)

    country    Region               WB_eco   Archetype  N_projects  N_orgs
0  Cameroon    Africa  Lower middle income    Leverage           5       3
1    Brazil  Americas  Upper middle income  Strengthen          12       7
2    Guinea    Africa           Low income        Test           2       1

In [82]:
#merge together dataset
FIND_Projects_Flourish = df_NGS_Nov.merge(df_FIND, how = 'left', on = 'country')
FIND_Projects_Flourish.head(3)

                                            geometry  ... N_orgs
0  {"type":"Polygon","coordinates":[[[74.892307,3...  ...    NaN
1  {"type":"Polygon","coordinates":[[[20.943662,4...  ...    NaN
2  {"type":"Polygon","coordinates":[[[-8.681222,2...  ...    NaN

[3 rows x 33 columns]

In [83]:
#confirm countrys have right # of projects reported
Cameroon_projects = FIND_Projects_Flourish.loc[(FIND_Projects_Flourish['country'] == 'Cameroon')]
Cameroon_projects.head(4)

                                             geometry  ... N_orgs
34  {"type":"Polygon","coordinates":[[[16.189823,2...  ...    3.0

[1 rows x 33 columns]

In [84]:
#confirm countrys have right # of projects reported
Brazil_projects = FIND_Projects_Flourish.loc[(FIND_Projects_Flourish['country'] == 'Brazil')]
Brazil_projects.head(4)

                                             geometry  ... N_orgs
26  {"type":"MultiPolygon","coordinates":[[[[-58.1...  ...    7.0

[1 rows x 33 columns]

In [85]:
#confirm countrys have right # of projects reported
Ethiopia_projects = FIND_Projects_Flourish.loc[(FIND_Projects_Flourish['country'] == 'Ethiopia')]
Ethiopia_projects.head(4)

                                             geometry  ... N_orgs
64  {"type":"Polygon","coordinates":[[[34.070698,9...  ...    5.0

[1 rows x 33 columns]

Adding lat/long to the df and make sure to only include variables of interests.

In [86]:
#reading in github lat/long datafile
latlong_url = "https://gist.githubusercontent.com/tadast/8827699/raw/f5cac3d42d16b78348610fc4ec301e9234f82821/countries_codes_and_coordinates.csv"
lat_long_df = pd.read_csv(latlong_url)
lat_long_df.head()

          Country Alpha-2 code  ... Latitude (average) Longitude (average)
0     Afghanistan         "AF"  ...               "33"                "65"
1         Albania         "AL"  ...               "41"                "20"
2         Algeria         "DZ"  ...               "28"                 "3"
3  American Samoa         "AS"  ...         "-14.3333"              "-170"
4         Andorra         "AD"  ...             "42.5"               "1.6"

[5 rows x 6 columns]

In [87]:
#replacing "" and changing data-type
lat_long_df = lat_long_df.replace('"','', regex=True)
lat_long_df.head()

          Country Alpha-2 code  ... Latitude (average) Longitude (average)
0     Afghanistan           AF  ...                 33                  65
1         Albania           AL  ...                 41                  20
2         Algeria           DZ  ...                 28                   3
3  American Samoa           AS  ...           -14.3333                -170
4         Andorra           AD  ...               42.5                 1.6

[5 rows x 6 columns]

In [88]:
#change datatypes
lat_long_df["Alpha-3 code"] = lat_long_df["Alpha-3 code"].astype(str)
lat_long_df["Latitude (average)"] = lat_long_df["Latitude (average)"].astype(float)
lat_long_df["Longitude (average)"] = lat_long_df["Longitude (average)"].astype(float)
print (lat_long_df.dtypes)
lat_long_df.head()

Country                 object
Alpha-2 code            object
Alpha-3 code            object
Numeric code            object
Latitude (average)     float64
Longitude (average)    float64
dtype: object

          Country Alpha-2 code  ... Latitude (average) Longitude (average)
0     Afghanistan           AF  ...            33.0000                65.0
1         Albania           AL  ...            41.0000                20.0
2         Algeria           DZ  ...            28.0000                 3.0
3  American Samoa           AS  ...           -14.3333              -170.0
4         Andorra           AD  ...            42.5000                 1.6

[5 rows x 6 columns]

In [89]:
#rename variables
lat_long_df.rename (columns = {'Alpha-3 code': 'code'}, inplace = True)
lat_long_df.rename (columns = {'Latitude (average)': 'latitude'}, inplace = True)
lat_long_df.rename (columns = {'Longitude (average)': 'longitude'}, inplace = True)
lat_long_df.rename (columns = {'Country': 'country'}, inplace = True)
lat_long_df.head()

          country Alpha-2 code  code Numeric code  latitude  longitude
0     Afghanistan           AF   AFG            4   33.0000       65.0
1         Albania           AL   ALB            8   41.0000       20.0
2         Algeria           DZ   DZA           12   28.0000        3.0
3  American Samoa           AS   ASM           16  -14.3333     -170.0
4         Andorra           AD   AND           20   42.5000        1.6

In [90]:
#only keeping necessary variables from this dataset, for our observations
lat_long_df = lat_long_df[['country', 'code', "latitude", 'longitude']]
lat_long_df.head()
print (lat_long_df.dtypes)

country       object
code          object
latitude     float64
longitude    float64
dtype: object

In [91]:
FIND_df = FIND_Projects_Flourish[['code', "country", 'geometry', 'archetype', 'label', 
                                  'max_new_tests_cap_avg', 'sequencing_capacity_clean', 'total_sequences', 'WB_eco', 'N_projects', 'N_orgs' ]]

print (FIND_df.dtypes)
FIND_df.head()

code                          object
country                       object
geometry                      object
archetype                     object
label                         object
max_new_tests_cap_avg        float64
sequencing_capacity_clean     object
total_sequences                int64
WB_eco                        object
N_projects                   float64
N_orgs                       float64
dtype: object

  code         country  ... N_projects N_orgs
0  AFG     Afghanistan  ...        NaN    NaN
1  ALB         Albania  ...        NaN    NaN
2  DZA         Algeria  ...        NaN    NaN
3  ASM  American Samoa  ...        NaN    NaN
4  AND         Andorra  ...        NaN    NaN

[5 rows x 11 columns]

In [92]:
#trying to round numbers...this did not work due to having NaN's
FIND_df[['N_projects','N_orgs']].astype(float).apply(np.round)
FIND_df.head()

  code         country  ... N_projects N_orgs
0  AFG     Afghanistan  ...        NaN    NaN
1  ALB         Albania  ...        NaN    NaN
2  DZA         Algeria  ...        NaN    NaN
3  ASM  American Samoa  ...        NaN    NaN
4  AND         Andorra  ...        NaN    NaN

[5 rows x 11 columns]

In [93]:
#Confirm projects data is good
Projects_confirm = FIND_df.loc[(FIND_df['N_projects'] > 0)]
print ("N of countries w/projects:", Projects_confirm.country.nunique())
Projects_confirm.head()

N of countries w/projects: 59

   code     country  ... N_projects N_orgs
8   ARG   Argentina  ...        2.0    2.0
11  AUS   Australia  ...        1.0    1.0
15  BGD  Bangladesh  ...        8.0    6.0
16  BRB    Barbados  ...        1.0    1.0
23  BOL     Bolivia  ...        1.0    1.0

[5 rows x 11 columns]

In [94]:
#merge together dataset
FIND_Regions_Points_Map = FIND_df.merge(lat_long_df, how = 'left', on = 'country')
FIND_Regions_Points_Map.head(3)

  code_x      country  ... latitude longitude
0    AFG  Afghanistan  ...     33.0      65.0
1    ALB      Albania  ...     41.0      20.0
2    DZA      Algeria  ...     28.0       3.0

[3 rows x 14 columns]

In [95]:
print (FIND_Regions_Points_Map.shape)
print (FIND_df.shape)

(238, 14)
(238, 11)

In [96]:
#only keeping necessary metrics from this dataset, for our observations
FIND_Regions_Points_Map.drop(['code_x', 'code_y'], axis=1, inplace=True)
FIND_Regions_Points_Map.head()

          country  ... longitude
0     Afghanistan  ...      65.0
1         Albania  ...      20.0
2         Algeria  ...       3.0
3  American Samoa  ...    -170.0
4         Andorra  ...       1.6

[5 rows x 12 columns]

In [97]:
url = 'https://raw.githubusercontent.com/PandemicPreventionInstitute/NGS-Capacity-map/main/data/FIND_df_metadata.csv'
FIND_metadata = pd.read_csv (url)
FIND_metadata.head()

    country  access_tools  ...  max_connect  future_emerg
0       All             4  ...            1             0
1    Africa             1  ...            0             1
2  Cameroon             1  ...            0             0
3    Brazil             6  ...            5             5
4    Guinea             0  ...            0             0

[5 rows x 6 columns]

In [98]:
#merge together dataset
FIND_Projects_Org_Map = FIND_Regions_Points_Map.merge(FIND_metadata, how = 'left', on = 'country')
FIND_Projects_Org_Map.head(3)

       country  ... future_emerg
0  Afghanistan  ...          NaN
1      Albania  ...          NaN
2      Algeria  ...          NaN

[3 rows x 17 columns]

In [99]:
#Explore Cameroon data
Cam_data = FIND_Projects_Org_Map.loc[(FIND_Projects_Org_Map['country'] == 'Cameroon')]
Cam_data.head()

     country  ... future_emerg
34  Cameroon  ...          0.0

[1 rows x 17 columns]

In [100]:
FIND_Projects_Org_Map.dtypes
FIND_Projects_Org_Map["access_tools"] = FIND_Projects_Org_Map["access_tools"].astype(float)
FIND_Projects_Org_Map["workforce_strength"] = FIND_Projects_Org_Map["workforce_strength"].astype(float)
FIND_Projects_Org_Map["enchance_data"] = FIND_Projects_Org_Map["enchance_data"].astype(float)
FIND_Projects_Org_Map["max_connect"] = FIND_Projects_Org_Map["max_connect"].astype(float)
FIND_Projects_Org_Map["future_emerg"] = FIND_Projects_Org_Map["future_emerg"].astype(float)
FIND_Projects_Org_Map.dtypes

country                       object
geometry                      object
archetype                     object
label                         object
max_new_tests_cap_avg        float64
sequencing_capacity_clean     object
total_sequences                int64
WB_eco                        object
N_projects                   float64
N_orgs                       float64
latitude                     float64
longitude                    float64
access_tools                 float64
workforce_strength           float64
enchance_data                float64
max_connect                  float64
future_emerg                 float64
dtype: object

In [101]:
def num (x):
    if x > 0:
        return '✓' 
    elif x <= 0:
        return 'X'
    else:
        return 'X'
    
FIND_Projects_Org_Map['access_tools'] = FIND_Projects_Org_Map['access_tools'].apply(lambda x : num (x))
FIND_Projects_Org_Map['workforce_strength'] = FIND_Projects_Org_Map['workforce_strength'].apply(lambda x : num (x))
FIND_Projects_Org_Map['enchance_data'] = FIND_Projects_Org_Map['enchance_data'].apply(lambda x : num (x))
FIND_Projects_Org_Map['max_connect'] = FIND_Projects_Org_Map['max_connect'].apply(lambda x : num (x))
FIND_Projects_Org_Map['future_emerg'] = FIND_Projects_Org_Map['future_emerg'].apply(lambda x : num (x))
FIND_Projects_Org_Map.head(2)

       country  ... future_emerg
0  Afghanistan  ...            X
1      Albania  ...            X

[2 rows x 17 columns]

In [102]:
#make high income and LMIC dfs

#High Income df
HIC_df = FIND_Projects_Org_Map.loc[(FIND_Projects_Org_Map['archetype'] == 'High Income*')]
HIC_df.head()

#LMIC df
LMIC_df = FIND_Projects_Org_Map.loc[(FIND_Projects_Org_Map['archetype'] != 'High Income*')]
LMIC_df.head()

          country  ... future_emerg
0     Afghanistan  ...            X
1         Albania  ...            X
2         Algeria  ...            X
3  American Samoa  ...            X
5          Angola  ...            X

[5 rows x 17 columns]

In [103]:
HIC_df.head()

                country  ... future_emerg
4               Andorra  ...            X
7   Antigua and Barbuda  ...            X
10                Aruba  ...            X
11            Australia  ...            X
12              Austria  ...            X

[5 rows x 17 columns]

In [104]:
def num (x):
    if x == "✓":
        return 'HIC receiving partner support' 
    elif x == "X":
        return 'HIC not receiving partner support'
    else:
        return "HIC not receiving partner support"

#Delineate HIC and LMIC support...    
HIC_df['access_tools_support'] = HIC_df['access_tools'].apply(lambda x : num (x))
HIC_df['workforce_strength_support'] = HIC_df['workforce_strength'].apply(lambda x : num (x))
HIC_df['enchance_data_support'] = HIC_df['enchance_data'].apply(lambda x : num (x))
HIC_df['max_connect_support'] = HIC_df['max_connect'].apply(lambda x : num (x))
HIC_df['future_emerg_support'] = HIC_df['future_emerg'].apply(lambda x : num (x))
HIC_df.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               country  ...               future_emerg_support
4              Andorra  ...  HIC not receiving partner support
7  Antigua and Barbuda  ...  HIC not receiving partner support

[2 rows x 22 columns]

In [116]:
#Fill in NAN values with 0
# NOTE: make sure to have NaN available for "Point" map, where you do not want 0's popping up for all countries
HIC_df['N_projects'] = HIC_df ['N_projects'].replace(np.inf, np.nan)
HIC_df['N_projects'].fillna(0, inplace = True)
HIC_df["N_projects"] = HIC_df["N_projects"].astype(int)

#filling in NaN with 0's for organization metric as well
HIC_df['N_orgs'] = HIC_df ['N_orgs'].replace(np.inf, np.nan)
HIC_df['N_orgs'].fillna(0, inplace = True)
HIC_df["N_orgs"] = HIC_df["N_orgs"].astype(int)

#confirming all reported metrics are integers and reviewing head of df
print (HIC_df.dtypes)
HIC_df.head(3)

country                        object
geometry                       object
archetype                      object
label                          object
max_new_tests_cap_avg         float64
sequencing_capacity_clean      object
total_sequences                 int64
WB_eco                         object
N_projects                      int64
N_orgs                          int64
latitude                      float64
longitude                     float64
access_tools                   object
workforce_strength             object
enchance_data                  object
max_connect                    object
future_emerg                   object
access_tools_support           object
workforce_strength_support     object
enchance_data_support          object
max_connect_support            object
future_emerg_support           object
Projects_Funded                 int64
support                        object
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

                country  ...                            support
4               Andorra  ...  HIC not receiving partner support
7   Antigua and Barbuda  ...  HIC not receiving partner support
10                Aruba  ...  HIC not receiving partner support

[3 rows x 24 columns]

In [117]:
def num (x):
    if x == 0:
        return 0 #Yes
    elif x > 0:
        return 1 #No

HIC_df['Projects_Funded'] = HIC_df['N_projects'].apply(lambda x : num (x))
HIC_df.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                country  ...                            support
4               Andorra  ...  HIC not receiving partner support
7   Antigua and Barbuda  ...  HIC not receiving partner support
10                Aruba  ...  HIC not receiving partner support

[3 rows x 24 columns]

In [118]:
#Fill in NAN values with 0
HIC_df['Projects_Funded'] = HIC_df ['Projects_Funded'].replace(np.inf, np.nan)
HIC_df['Projects_Funded'].fillna(0, inplace = True)
HIC_df["Projects_Funded"] = HIC_df["Projects_Funded"].astype(int)
print (HIC_df.dtypes)
HIC_df.head()

country                        object
geometry                       object
archetype                      object
label                          object
max_new_tests_cap_avg         float64
sequencing_capacity_clean      object
total_sequences                 int64
WB_eco                         object
N_projects                      int64
N_orgs                          int64
latitude                      float64
longitude                     float64
access_tools                   object
workforce_strength             object
enchance_data                  object
max_connect                    object
future_emerg                   object
access_tools_support           object
workforce_strength_support     object
enchance_data_support          object
max_connect_support            object
future_emerg_support           object
Projects_Funded                 int64
support                        object
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                country  ...                            support
4               Andorra  ...  HIC not receiving partner support
7   Antigua and Barbuda  ...  HIC not receiving partner support
10                Aruba  ...  HIC not receiving partner support
11            Australia  ...      HIC receiving partner support
12              Austria  ...  HIC not receiving partner support

[5 rows x 24 columns]

In [107]:
def num (x):
    if x == 0.0: #No projects
        return "HIC not receiving partner support"
    elif x == 1.0: #Yes, projects
        return "HIC receiving partner support"

HIC_df['support'] = HIC_df['Projects_Funded'].apply(lambda x : num (x))
HIC_df.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                country  ...                            support
4               Andorra  ...  HIC not receiving partner support
7   Antigua and Barbuda  ...  HIC not receiving partner support
10                Aruba  ...  HIC not receiving partner support

[3 rows x 24 columns]

Data Processing and Tranformation of LMICs df

In [109]:
def num (x):
    if x == "✓":
        return 'LMIC receiving partner support' 
    elif x == "X":
        return 'LMIC not receiving partner support'
    else:
        return 'LMIC not receiving partner support'

#Delineate HIC and LMIC support...    
LMIC_df['access_tools_support'] = LMIC_df['access_tools'].apply(lambda x : num (x))
LMIC_df['workforce_strength_support'] = LMIC_df['workforce_strength'].apply(lambda x : num (x))
LMIC_df['enchance_data_support'] = LMIC_df['enchance_data'].apply(lambda x : num (x))
LMIC_df['max_connect_support'] = LMIC_df['max_connect'].apply(lambda x : num (x))
LMIC_df['future_emerg_support'] = LMIC_df['future_emerg'].apply(lambda x : num (x))
LMIC_df.head(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       country  ...                future_emerg_support
0  Afghanistan  ...  LMIC not receiving partner support
1      Albania  ...  LMIC not receiving partner support

[2 rows x 22 columns]

In [113]:
#Fill in NAN values with 0
# NOTE: make sure to have NaN available for "Point" map, where you do not want 0's popping up for all countries
LMIC_df['N_projects'] = LMIC_df ['N_projects'].replace(np.inf, np.nan)
LMIC_df['N_projects'].fillna(0, inplace = True)
LMIC_df["N_projects"] = LMIC_df["N_projects"].astype(int)

#filling in NaN with 0's for organization metric as well
LMIC_df['N_orgs'] = LMIC_df ['N_orgs'].replace(np.inf, np.nan)
LMIC_df['N_orgs'].fillna(0, inplace = True)
LMIC_df["N_orgs"] = LMIC_df["N_orgs"].astype(int)

#confirming all reported metrics are integers and reviewing head of df
print (LMIC_df.dtypes)
LMIC_df.head(3)

country                        object
geometry                       object
archetype                      object
label                          object
max_new_tests_cap_avg         float64
sequencing_capacity_clean      object
total_sequences                 int64
WB_eco                         object
N_projects                      int64
N_orgs                          int64
latitude                      float64
longitude                     float64
access_tools                   object
workforce_strength             object
enchance_data                  object
max_connect                    object
future_emerg                   object
access_tools_support           object
workforce_strength_support     object
enchance_data_support          object
max_connect_support            object
future_emerg_support           object
Projects_Funded               float64
support                        object
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

       country  ... support
0  Afghanistan  ...    None
1      Albania  ...    None
2      Algeria  ...    None

[3 rows x 24 columns]

In [114]:
def num (x):
    if x == 0:
        return 0 #Yes, projects
    elif x > 0:
        return 1 #No, projects

LMIC_df['Projects_Funded'] = LMIC_df['N_projects'].apply(lambda x : num (x))
LMIC_df.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

       country  ... support
0  Afghanistan  ...    None
1      Albania  ...    None
2      Algeria  ...    None

[3 rows x 24 columns]

In [115]:
def num (x):
    if x == 0.0:
        return "LMIC not receiving partner support"
    elif x == 1.0:
        return "LMIC receiving partner support"

LMIC_df['support'] = LMIC_df['Projects_Funded'].apply(lambda x : num (x))
LMIC_df.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

       country  ...                             support
0  Afghanistan  ...  LMIC not receiving partner support
1      Albania  ...  LMIC not receiving partner support
2      Algeria  ...  LMIC not receiving partner support

[3 rows x 24 columns]

Confirm df's are correct by testing country: Cameroon

In [119]:
#Exploring Cameroon to make sure this data makes sense
Cameroon_final_df = LMIC_df.loc[(LMIC_df['country'] == 'Cameroon')]
Cameroon_final_df.head()

     country  ...                         support
34  Cameroon  ...  LMIC receiving partner support

[1 rows x 24 columns]

In [120]:
#Exploring Sudan to make sure this data makes sense
Sudan_final_df = LMIC_df.loc[(LMIC_df['country'] == 'Sudan')]
Sudan_final_df.head()

    country  ...                         support
200   Sudan  ...  LMIC receiving partner support

[1 rows x 24 columns]

In [121]:
#Exploring Sudan to make sure this data makes sense
Algeria_final_df = LMIC_df.loc[(LMIC_df['country'] == 'Algeria')]
Algeria_final_df.head()

   country  ...                             support
2  Algeria  ...  LMIC not receiving partner support

[1 rows x 24 columns]

Concatenate HIC & LMICs together to make the joined/final df for the FIND partner maps

In [122]:
#Concat the df's to stack them
# concatenating df1 and df2 along rows
FIND_partner_maps = pd.concat([HIC_df, LMIC_df], axis=0)
FIND_partner_maps.tail()

                country  ...                             support
233  West Bank and Gaza  ...  LMIC not receiving partner support
234      Western Sahara  ...  LMIC not receiving partner support
235               Yemen  ...  LMIC not receiving partner support
236              Zambia  ...      LMIC receiving partner support
237            Zimbabwe  ...  LMIC not receiving partner support

[5 rows x 24 columns]

In [123]:
#assessing shape (number of df [rows, columns])
FIND_partner_maps.shape
#confirm that we have the right amount of countries listed --238

(238, 24)

In [124]:
# Export dataset to .csv
from google.colab import files
FIND_partner_maps.to_csv('FIND_partner_maps.csv') 
files.download('FIND_partner_maps.csv')

Making different datasets to visualize different FIND intervention support, by country and economic class